{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Prueba de imagen</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quis unde nam. Nisi incidunt nulla velit repudiandae sed vitae et eaque corporis, fugiat blanditiis. Hic et perferendis exercitationem sed voluptate.
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/images.jpg" class="img-thumbnail" alt="">
    </div>

</div>

{{> footer }}